.menu {
  background-color: #F05722;
  height: 100%;
  position: absolute;
  top: 0;
  transform: translateX(-100%);
  transition: transform 300ms linear;
  width: 50%;
}

.menu-exit {
  margin-left: 75%;
}

.menu_open {
  transform: translateX(0);
}

.menu-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.643);
  list-style: none;
  padding: 20px 15px;
  transition: background-color 0.3s;
}

.menu-item-action {
  color: white;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

@media screen and ( min-width: 991px ) {

  .menu {
    background-color: white;
    transform: translateX(0);
    height: 60px;
    margin-left: 10%;
    width: 90%;
  }

  .menu-item {
    align-self: center;
    border-bottom: none;
  }

  .menu-item-action:hover {
    color: black;
  }

  .menu-item-action {
    color: #252525;
    font-size: 15px;
  }
}
