.btnMenu {
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 50px;
  display: block;
  padding: 20px 15px;
  text-indent: -9999px;
}

.btnMenu_open {
  background-color: white;
  background-image: url('../icon-menu-laranja.svg');
  cursor: pointer;
}

.btnMenu_close {
  background-color: #F05722;
  background-image: url('../icon-menu-branco.svg');
  cursor: pointer;
}

@media screen and ( min-width: 991px ) {

  .btnMenu_open {
    background-image: url('../images/logo.png');
    background-size: 70px;
    display: flex;
    width: 50px;
  }

  .btnMenu_close {
    display: none;
  }
}
